.head{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color:red;
    text-decoration-style: wavy;
    word-spacing: 50px;
    font-family: monospace;
}
.para{
    font-size: bold;
    line-height: 50px;
    /*letter-spacing: 300px;*/
    color: blue;
}
.heading{
    text-transform: capitalize;
}